* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: url("images/back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 100dvh;
}

.header {
  width: 100%;
  height: 35px;
  padding: 0 20px;
  background-color: rgba(225, 225, 225, 0.45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.apple {
  width: 18px;
  height: 20px;
}

.finder {
  font-weight: bold;
}

.headerone {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headertwo {
  gap: 10px;
  display: flex;
  align-items: center;
}

.logos {
  height: 25px;
}

.section {
  position: relative;
  width: 100%;
  height: calc(100dvh - (80px + 35px));
}

.footer {
  width: 100%;
  height: 80px;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomtaskbar {
  height: 70px;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: black;
  border-radius: 20px;
}

.footerLogos {
  transition: all 0.2s ease-in-out;
}

.footerLogosImages {
  height: 50px;
  width: 50px;
}

.footerLogos:hover {
  margin-bottom: 20px;
}

.verticalline {
  height: 50px;
  width: 2px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.footerLogos:hover + .footerLogos {
  margin-bottom: 10px;
}

.footerLogos:has(+ .footerLogos:hover) {
  margin-bottom: 10px;
}

.chrome {
  position: absolute;
  resize: both;
  max-width: 100%;
  max-height: 100%;
  z-index: 100;
  background-color: rgba(225, 225, 225, 0.73);
  border-radius: 10px;
  height: 80%;
  width: 50%;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.chromeheader {
  cursor: default;
  background-color: #dee1e6;
  z-index: 99;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: sticky;
  top: 0;
}

.divheader {
  display: flex;
  padding: 5px 5px 0px 5px;
  position: sticky;
  top: 0;
  width: 100%;
  gap: 10px;
}

.close,
.minimise,
.maximise {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.googleimage {
  width: 15px;
  height: 15px;
}

.googleimagemax {
  width: 10px;
  height: 10px;
}

.close:hover {
  background-color: #ff5f56;
}
.minimise:hover {
  background-color: #ffbd2e;
}
.maximise:hover {
  background-color: #27c93f;
}

.controls {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.headertab {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

.headertab div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.globe {
  width: 20px;
  height: 20px;
}

.divbodyhead {
  padding: 1px 10px;
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.bodycontrols {
  width: 20px;
  /* cursor: not-allowed; */
  height: 20px;
}

.divbodybody {
  top: 0px;
  padding: 5px;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  position: relative;
  background-color: white;
}

.divbodybody h1 {
  font-size: 40px;
}

.divbodybody h1 > span {
  color: rgb(133 77 14);
}

.bodydiv {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  top: 25px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px dashed gray;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.09);
  width: 40%;
}

.websiteurl {
  width: 80%;
  height: 80%;
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 0 10px;
  background-color: #dee1e6;
  border-radius: 20px;
}

.websiteurl div {
  border-radius: 100%;
  background-color: white;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 2px;
}

.weburl {
  color: rgba(0, 0, 0, 0.65);
}

.googleIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.dotGoogle {
  height: 5px;
  width: 5px;
  display: none;
  border-radius: 100%;
  background: black;
}

@keyframes bounceEffect {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-25px);
  }
}

.bouncingEffect {
  animation: bounceEffect 2s ease;
  transition: transform ease-in-out;
  animation-iteration-count: 1;
}

@media (max-width: 767px) {
  .bodydiv {
    width: 100%;
  }
  .mobile {
    display: none;
  }

  .chrome {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #closed {
    display: none;
  }
}

.logoProfile {
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.profile {
  width: 70px;
  object-fit: cover;
  height: 70px;
  border-radius: 100%;
}

.bodyheader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contactSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contactImages {
  height: 30px;
  width: 30px;
}
.headers {
  font-size: 30px;
  /* text-align: center; */
  font-weight: bolder;
}

.projectsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.projectsSingle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.projectsSingle img {
  width: 90%;
  height: 200px;
  object-fit: cover;
}

.live {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  left: -100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projectsSingle p {
  margin-top: 10px;
}

.projectsSingle:hover > .live {
  transition: 0.5s ease-in-out;
  left: 0%;
}

.live img {
  width: 40px;
  height: 40px;
}

.live img:hover {
  background-color: #dee1e6;
  border-radius: 100%;
  height: 45px;
  width: 45px;
}

.contact {
  margin-top: 40px;
}

.footerChrome {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rounded {
  background-color: rgba(0, 0, 0, 0.5);
  width: 10px;
  margin-top: 5px;
  height: 10px;
  border-radius: 100%;
}

.singleExperience {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footerChrome p {
  text-align: center;
}
.skills {
  margin: 10px 0px 20px 0;
}

hr {
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome {
  margin: 20px 0 20px 0;
}

.Experience,
.projects,
.Education,
.skills {
  margin: 10px 0 10px 0;
}
